<h1>Registered Student Details</h1>

<h3>Name: {{name}}</h3>
<h3>Email: {{email}}</h3>
<h3>Selected Course: {{course}}</h3>
<h3>Date of Birth: {{year}}</h3>

<button><a href="/" style="text-decoration: none;color:black">Go to home</a></button>